.background-page {
  background-image: url('assets/images/electromenager-bg.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh; /* La hauteur prendra tout l'écran */
  color: white; /* Optionnel : Texte en blanc */
}
